{% extends 'base.html' %}
{% block content %}
    {% for job in jobs %}
    <p>
      {{forloop.counter}}
      <a href="{{job.link}}">{{job.title}}</a>
    </p>
    {% endfor %}
  </body>
</html>
{% endblock %}
