{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'website/style.css' %}" />
    <title>{% block title%}{%endblock%}</title>
  </head>
  <body>
    <main>
        <nav>
          <div class="nav-container">
            <img src="https://news.ycombinator.com/y18.gif" />
            <strong>Hacker News</strong>
            <div id="navbar">
              <a href="{% url 'welcome' %}">Welcome</a>
              <a href="{% url 'jobs' %}">Jobs</a>
            </div>
          </div>
        </nav>
        {% block content %} {% endblock %}
      </main>
  </body>
</html>
